[core]
	editor = code
	autocrlf = false

[color]
	ui = true

[push]
	default = simple
	autoSetupRemote = true

[advice]
	detachedHead = false

[init]
	defaultBranch = main

[filter "lfs"]
	required = true
	clean    = git-lfs clean -- %f
	smudge   = git-lfs smudge -- %f
	process  = git-lfs filter-process

[alias]
	ac    = !git add -A && git commit -m
	acp   = !git add -A && git commit -m "$1" && git push
	sc    = switch -c
	sw    = switch
	co    = checkout
	cm    = commit -m
	st    = status -sb
	lg    = log --graph --oneline --decorate=full
	pur   = pull —-rebase
	rba   = rebase --abort
	rmbl  = branch -d
	rmbL  = branch -D
	rmbr  = push origin --delete
	rmbrl = !git branch -d "$1" && git push origin --delete "$1"

	subInit = !git pull && git submodule init && git submodule update && git submodule status
	subAdd  = !git submodule add

[safe]
	directory = *

[credential]
	helper = manager-core

[remote "origin"]
	prune = true
