[user]
	name  = cambalamas
	email = cambalamas@gmail.com

[github]
	user = cambalamas

[core]
	editor = vim
	excludesfile = ~/.gitignore
	autocrlf = input

[color]
	ui = true

[push]
	default = simple

[filter "lfs"]
	required = true
	clean  = git-lfs clean %f
	smudge = git-lfs smudge %f

[alias]
	st  = status -sb
	lg  = log --graph --oneline --decorate
	pup = !git pull && git submodule init && git submodule update && git submodule status

[credential]
	helper = manager
