[user]
	name = ByBretema
	email = bybretema@gmail.com

[core]
	compression = 9
	whitespace = error
	preloadindex = true

	editor = helix
	autocrlf = false
	excludesFile = ~/.gitignore

[advice]
	detachedHead = false
	addEmptyPathspec = false
	pushNonFastForward = false
	statusHints = false

[url "git@github.com:byBretema/"]
	insteadOf = "bb:"
[url "git@github.com:"]
	insteadOf = "gh:"
[url "git@github.com:omi-lab"]
	insteadOf = "omi:"

[init]
	defaultBranch = main

[status]
	showStash = true
	showUntrackedFiles = all

[diff]
	context = 3
	renames = copies
	interHunkContext = 10

[pager]
	diff = diff-so-fancy | less -RFX

[diff-so-fancy]
	stripLeadingSymbols = false
	shortHeaders = true
	semIntegration = true

[color]
	ui = true
[color "diff"]
	meta       = yellow bold
	frag       = blue
	context    = white
	whitespace = cyan reverse
	old        = red
[color "decorate"]
	HEAD = red
	branch = blue
	tag = yellow
	remoteBranch = magenta
[color "branch"]
	current  = yellow
	local    = default
	remote   = white
	upstream = green
	plain    = cyan
	worktree = blue


[interactive]
    diffFilter = diff-so-fancy --patch
	singlekey = true

[push]
	autoSetupRemote = true
	default = current
	followTags = true

[pull]
	rebase = true
	default = current

[rebase]
	autoStash = true
	missingCommitsCheck = warn

[log]
	abbrevCommit = true
	graphColors = blue,cyan,yellow,magenta,green,red

[branch]
	sort = -committerdate

[tag]
	sort = -taggerdate

# [merge]
# 	#ff = false  # https://stackoverflow.com/a/14865661
# 	conflictstyle = zdiff3

[advice]
	detachedHead = false

[init]
	defaultBranch = main

[safe]
	directory = *

[credential]
	helper = manager-core

[remote "origin"]
	prune = true

[filter "lfs"]
	required = true
	clean    = git-lfs clean -- %f
	smudge   = git-lfs smudge -- %f
	process  = git-lfs filter-process

[alias]
	st    = status -s
	cm    = commit -m

	co    = checkout
	br    = branch

	sw    = switch
	sc    = switch -c
	sww   = !bname=$(git branch | fzf) && git sw "${bname#* }"

	lol   = log --graph --pretty=oneline --decorate=full --all
	lg    = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --all

	ac    = !git add -A && git commit -m

	rb    = pull --rebase
	rba   = rebase --abort

	wl = worktree list
	wa = worktree add
	wr = worktree remove
	wp = worktree prune

	subAdd = !git submodule add
	subUpdate = !git submodule update --init --recursive -j 12

# [delta]
# 	navigate = true
# 	line-numbers = true
# 	# side-by-side = true

