[core]
	pager = delta
	editor = helix
	autocrlf = false
	excludesFile = ~/.gitignore

[color]
	ui = true

[interactive]
    diffFilter = delta --color-only

[push]
	default = simple
	autoSetupRemote = true

[merge]
	#ff = false  # https://stackoverflow.com/a/14865661
	conflictstyle = zdiff3

[advice]
	detachedHead = false

[init]
	defaultBranch = main

[filter "lfs"]
	required = true
	clean    = git-lfs clean -- %f
	smudge   = git-lfs smudge -- %f
	process  = git-lfs filter-process

[alias]
	st    = status -s
	cm    = commit -m

	co    = checkout
	br    = branch

	sw    = switch
	sc    = switch -c
	sww   = !bname=$(git branch | fzf) && git sw "${bname#* }"

	lol   = log --graph --pretty=oneline --decorate=full --all
	lg    = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --all

	ac    = !git add -A && git commit -m

	rb    = pull --rebase
	rba   = rebase --abort

	wl = worktree list
	wa = worktree add
	wr = worktree remove
	wp = worktree prune

	subAdd = !git submodule add
	subUpdate = !git submodule update --init --recursive -j 12


[safe]
	directory = *

[credential]
	helper = manager-core

[remote "origin"]
	prune = true

[user]
	name = ByBretema
	email = bybretema@gmail.com


[delta]
	navigate = true
	line-numbers = true
	# side-by-side = true
