[core]
	# editor = code
	autocrlf = false
	excludesFile = ~/.gitignore

[color]
	ui = true

[push]
	default = simple
	autoSetupRemote = true

[advice]
	detachedHead = false

[init]
	defaultBranch = main

[filter "lfs"]
	required = true
	clean    = git-lfs clean -- %f
	smudge   = git-lfs smudge -- %f
	process  = git-lfs filter-process

[alias]
	ac    = !git add -A && git commit -m
	acp   = !git add -A && git commit -m "$1" && git push
	sc    = switch -c
	sw    = switch
	sww   = !bname=$(git branch | fzf) && git sw "${bname#* }"
	co    = checkout
	cm    = commit -m
	st    = status -s
	lol   = log --graph --oneline --decorate=full
	lg    = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	pur   = pull —-rebase
	rba   = rebase --abort
	rmbl  = branch -d
	rmbL  = branch -D
	rmbr  = push origin --delete
	rmbrl = !git branch -d "$1" && git push origin --delete "$1"

	subAdd = !git submodule add
	subUpdate = !git submodule update --init --recursive -j 12

[safe]
	directory = *

[credential]
	helper = manager-core

[remote "origin"]
	prune = true

[user]
	name = ByBretema
	email = bybretema@gmail.com

# [pager]
#     diff = "ov -F --section-delimiter '^diff' --section-header"
#     log = "ov -F --section-delimiter '^commit' --section-header-num 3"
#     show = "ov -F --header 3"
