[[language]]
name = "cpp"
auto-format = false
formatter = { command = 'clang-format' }

[[language]]
name = "python"
auto-format = true
scope = "source.python"
language-servers = ["pyright", "ruff"]
formatter = { command = "black", args = ["-", "--quiet", "--line-length=120"] }

[[language]]
name = "rust"
auto-format = true

[[language]]
name = "zig"
auto-format = true

[[language]]
name = "go"
auto-format = true

[[language]]
name = "glsl"
auto-format = true

[[language]]
name = "html"
formatter = { command = "prettier", args = ["--parser", "html"] }
auto-format = true

[[language]]
name = "json"
formatter = { command = "prettier", args = ["--parser", "json"] }
auto-format = true

[[language]]
name = "css"
formatter = { command = "prettier", args = ["--parser", "css"] }
auto-format = true

[[language]]
name = "javascript"
formatter = { command = "prettier", args = ["--parser", "typescript"] }
auto-format = true

[[language]]
name = "typescript"
formatter = { command = "prettier", args = ["--parser", "typescript"] }
auto-format = true

[[language]]
name = "markdown"
formatter = { command = "prettier", args = ["--parser", "markdown"] }
auto-format = true

[[language]]
name = "lua"
auto-format = true

[language.auto-pairs]
'(' = ')'
'{' = '}'
'[' = ']'
'"' = '"'
'`' = '`'
'<' = '>'


#! Python settings

[language-server.ruff]
command = "ruff-lsp"

[language-server.pyright]
command = "pyright-langserver"
args = ["--stdio"]
config = {}
