[[language]]
name = "cpp"
formatter = { command = 'clang-format' }
auto-format = false

[[language]]
name = "python"
language-servers = [ { name = "pylsp" }, { name = "ruff" } ]
auto-format = true
formatter = { command = "black" }

[[language]]
name = "rust"
auto-format = true

[[language]]
name = "zig"
auto-format = true

[[language]]
name = "go"
auto-format = true

[[language]]
name = "glsl"
auto-format = true

[[language]]
name = "html"
formatter = { command = "prettier", args = ["--parser", "html"] }
auto-format = true

[[language]]
name = "json"
formatter = { command = "prettier", args = ["--parser", "json"] }
auto-format = true

[[language]]
name = "css"
formatter = { command = "prettier", args = ["--parser", "css"] }
auto-format = true

[[language]]
name = "javascript"
formatter = { command = "prettier", args = ["--parser", "typescript"] }
auto-format = true

[[language]]
name = "typescript"
formatter = { command = "prettier", args = ["--parser", "typescript"] }
auto-format = true

[[language]]
name = "markdown"
formatter = { command = "prettier", args = ["--parser", "markdown"] }
auto-format = true

[[language]]
name = "lua"
auto-format = true

[language.auto-pairs]
'(' = ')'
'{' = '}'
'[' = ']'
'"' = '"'
'`' = '`'
'<' = '>'


#! Python settings

[language-server.ruff]
command = "ruff"
args = ["server"]

[language-server.pylsp.config.pylsp.plugins]
# Rope for Refactoring (Extract method, etc.)
rope_autoimport = { enabled = true }
rope_completion = { enabled = true }
# Mypy for Type Checking
pylsp_mypy = { enabled = true, live_mode = true }
# Ruff will do linter/formatter, disable pylsp ones
pycodestyle = { enabled = false }
mccabe = { enabled = false }
pyflakes = { enabled = false }
autopep8 = { enabled = false }
yapf = { enabled = false }
